<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <!-- Servlets -->
  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>org.aexlib.gae.sample.server.SampleServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/aexlib_gae/sample</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <display-name>aexlib sample</display-name>	
</web-app>
